{% extends "base.html" %}

{% block content %}
    <h2>Customers</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Created at</th>
          <th>Id</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr>
          <td>{{ customer.first_name }}</td>
          <td>{{ customer.last_name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.city }}</td>
          <td>{{ customer.state }}</td>
          <td>{{ customer.zip_code }}</td>
          <td>{{ customer.created_at }}</td>
          <td><a href="{% url 'customer' customer.id %}">{{ customer.id }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
